// accent-color = #1BA1E2 //Blue
// accent-color = #A05000 //Brown
// accent-color = #339933 //Green
// accent-color = #A2C139 //Lime
// accent-color = #D80073 //Magenta
// accent-color = #F09609 //Mango
// accent-color = #E671B8 //Pink
// accent-color = #A200FF //Purple
accent-color = #E51400 //Red
// accent-color = #00ABA9 //Teal

page-header-height = 80px
page-footer-height = 60px