@import 'nib'
@import '_config'

btn-height = 20px

.tracklist .actions, .post .actions, .queue .audio-actions
  height: btn-height
  margin: auto
  position: absolute
  top: 0
  bottom: 0
  right: 0
  padding: 0 1em
  font-size: 1.3em

.tracklist .actions div, .post .actions div, .queue .audio-actions div
  display: inline-block
  padding: 0 0.7em
  background-color: #333
  color: white
  line-height: btn-height
  cursor: pointer
  visibility: hidden

.tracklist .actions div:hover, .post .actions div:hover, .queue .audio-actions div:hover
  background-color: accent-color

.tracklist .actions div:active, .post .actions div:active, .queue .audio-actions div:active
  background-color: darken(accent-color, 30%)