@import '_config'

.album-tile
  position: relative
  height: 100%
  width: 100%
  overflow: hidden
  background-color: #E2E2E2

  .title
    position: absolute
    width: 100%
    bottom: 0
    color: #555
    padding: 0.5em 1em
    font-size: 1.3em

  .album-audio-count
    position: absolute
    top: 0
    padding: 0 0.2em
    font-size: 5em
    color: #555
    cursor: pointer

  .album-audio-count:hover
    color: accent-color

  .album-btn-show
    visibility: hidden
    position: absolute
    bottom: 0
    right: 0
    font-size: 2em;
    padding: 0 0.2em;
    color: #555
    cursor: pointer

  .album-btn-show:hover
    color: accent-color

  a
    text-decoration: none
    color: inherit


.album-tile:hover .album-btn-show
  visibility: visible


#album-details, .album-details
  width: 100%
  height: 100%