@import 'nib'
@import '_config'

// Apply a natural box layout model to all elements.
// http://paulirish.com/2012/box-sizing-border-box-ftw/
*
  box-sizing: border-box

html
  width: 100%
  height: 100%

body
  margin: 0
  padding: 0

  width: 100%
  height: 100%

  font-family: PT Sans, sans-serif
  font-size: 0.7em

  overflow: hidden
  user-select: none;

#main-layout
  position: absolute
  top: page-header-height + player-height
  bottom: 0
  width: 100%
  overflow: hidden

#library
  position: absolute
  top: 0
  width: 100%
  height: 100%

.stack > .item
  position: absolute
  height: 100%
  width: 100%
  transition: opacity 0.2s linear, left 0.3s ease-in, transform 0.2s ease-out
  opacity: 0
  left: 100px
  transform: scale(1)

.stack > .item.active
  left: 0
  opacity: 1
  z-index: 1000

.content-overlay
  position: absolute
  left: 0
  top: 0
  width: 100%
  height: 100%
  z-index: -1
  background-color: rgba(255,255,255, 0)
  transition: background-color 0.3s linear

.content-overlay.active
  z-index: 1001
  background-color: rgba(238,238,238, 0.9)

#albums, #groups
  overflow: visible !important

#splash
  color: accent-color

  .logo
    position: absolute
    left: 50%
    top: 50%

    width: 200px
    height: 200px

    margin-left: -100px
    margin-top: -100px

    font-size: 15em
    transition: color 0.3s linear

#splash.noactive
  color: transparent