@import 'nib'
@import '_config'

unit = 20px
sub-unit = unit / 4

node-size = unit * 12
node-margin = sub-unit * 2
node-full-size = node-size + node-margin

node-count = 10

.grid
  position: absolute
  width: 100%
  height: node-full-size
  top: 50%
  margin-top: -(node-full-size / 2)
  overflow: visible !important

.grid > ul
  position: relative
  margin: 0
  list-style: none
  width: 0
  padding: 0 80px 0 0
  box-sizing: content-box
  height: 100%
  transform-style: preserve-3d

.grid > ul > li
  display: block
  position: absolute
  width: node-size
  height: @width
  padding: node-margin node-margin 0 0
  opacity: 0
  transition-property: opacity
  transition-duration: 0.3s
  transition-timing-function: ease-out

.grid > ul > li.visible
  opacity: 1

.grid
  .tile
    position: relative
    height: 100%
    width: 100%
    overflow: hidden
    cursor: pointer
    outline-color: white
    transition: transform 0.1s linear, outline-color 0.1s linear

  .tile:hover
    // outline: 3px solid rgba(0,0,0, 0.2)
    outline: 3px solid accent-color

    .name
      background-color: accent-color

  .tile:active
    transform: scale(0.95)

  .tile img
    position: absolute
    width: 100%

  .name
    position: absolute
    width: 100%
    bottom: 0
    color: white
    padding: 0.5em 1em
    font-size: 1.1em
    background-color: #222
    // background-color: accent-color

  .overlay
    position: absolute
    width: 100%
    height: 100%
    opacity: 0.2
    background: transparent url('../images/bg_overlay_archive_item.png') center top repeat;

@media screen and (min-height: 640px)
  .grid
    height: node-size * 2 + node-margin
    margin-top: -(@height / 2)

@media screen and (min-height: 880px)
  .grid
    height: node-size * 3 + node-margin
    margin-top: -(@height / 2)

@media screen and (min-height: 1120px)
  .grid
    height: node-size * 4 + node-margin
    margin-top: -(@height / 2)

@media screen and (min-height: 1360px)
  .grid
    height: node-size * 5 + node-margin
    margin-top: -(@height / 2)

.grid.big > ul
  width: 3 * node-full-size * 2

.grid.big > ul > li
  width: node-size * 2
  height: @width
  margin: (node-margin * 2) (node-margin * 2) 0 0