@import 'nib'
@import '_config'

#group, .group-layout, #wall-layout, .wall
  height: 100%

#wall-layout
  overflow: visible !important

.group-layout
  padding-left: 500px

#group-description
  position: absolute
  left: 0
  top: 0
  width: 300px
  height: 100%

.group-avatar
  padding: 2em

.wall-overlay-panel
  position: absolute
  bottom: 0
  right: 0
  margin: 2%
  border: 1px solid white

.wall-scroll-btn
  float: left
  background-color: #333
  color: black
  width: 60px
  height: @width
  cursor: pointer
  font-size: 2em

.wall-scroll-btn > div
  color: white
  line-height: 60px
  text-align: center

.wall-scroll-btn:hover
  background-color: accent-color

.wall-scroll-btn:active
  background-color: darken(accent-color, 10%)