@import 'nib'
@import '_config'

left-offset = 80px
body > header
  height: page-header-height
  width: 100%
  box-sizing: content-box

  position: relative
  top: -@height
  transition: top 0.3s ease-out

  background-color: accent-color
  border-bottom: 1px solid darken(accent-color, 20%)
  z-index: 1000
  color: white
  line-height: page-header-height + 0.0625 * page-header-height

  z-index: 10000

body > header.active
  top: player-height

.header-menu
  position: absolute
  top: 0
  left: left-offset
  font-size: 1.5em
  font-weight: 300
  font-family: Open Sans, sans-serif

  a
    text-decoration: none
    color: inherit

  .title
    position: relative
    height: page-header-height
    font-size: 1.6em
    cursor: pointer
    z-index: 100
    box-sizing: content-box
    overflow: hidden

    .arrow
      margin: 0
      float: right
      font-size: 1em
      padding-top: 0.15em

  .title.active
    background-color: darken(accent-color, 10%)

.header-menu.active ul
  display: block

.header-menu ul
  display: none
  position: absolute
  top: 0
  width: 300px
  padding: 0
  margin: 0
  color: #555
  font-family: PT Sans, sans-serif
  font-weight: 400
  margin-top: page-header-height + 1px
  list-style: none
  border: 3px solid #CCC
  border-top: none
  transition: top 0.1s ease-out
  background-color: white
  line-height: 1

.header-menu a
  display: block
  padding: 1.2em 1em
  cursor: pointer
  border-top: 1px solid #EEE
  vertical-align: bottom

.header-menu li:hover
  background-color: #F6F6F6
