@import 'nib'
@import '_config'

left-offset = 80px
body > header
  height: page-header-height
  width: 100%
  box-sizing: content-box

  position: relative
  transition: top 0.3s ease-out

  background-color: accent-color
  box-shadow: 0 2px 1px 0px rgba(50, 50, 50, 0.23)
  border-style: solid
  border-color: darken(accent-color, 20%)
  border-width: 0
  border-bottom-width: 1px
  z-index: 1000
  color: white
  line-height: page-header-height + 0.0625 * page-header-height

  z-index: 10000
  top: -@height - @border-bottom-width

body > header.active
  top: player-height

.header-menu
  height: page-header-height
  font-size: 1.5em
  font-weight: 300
  font-family: Open Sans, sans-serif
  overflow: hidden

  a
    text-decoration: none
    color: inherit

  .title
    display: block
    position: relative
    height: page-header-height
    width: 100%
    font-size: 1.6em
    cursor: pointer
    z-index: 100
    box-sizing: content-box
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
    font-smoothing: antialiased

    .arrow
      border-bottom: 12px solid white
      border-left: 12px solid transparent
      font-size: 0.1em

  .title.active
    background-color: darken(accent-color, 10%)

.header-menu.active ul
  display: block

.header-menu ul
  display: none
  position: absolute
  top: 0
  left: left-offset - 20px
  width: 300px
  padding: 0
  margin: 0
  color: #555
  font-family: PT Sans, sans-serif
  font-weight: 400
  margin-top: page-header-height + 1px
  list-style: none
  transition: top 0.1s ease-out
  background-color: white
  line-height: 1
  box-shadow: 0 1px 3px 2px rgba(0,0,0,0.2);

.header-menu a
  display: block
  padding: 1.2em 1em
  cursor: pointer
  border-top: 1px solid #EEE
  vertical-align: bottom

.header-menu li:hover
  background-color: #F6F6F6
