@import '_config'

.library
	top: 0;
	position: absolute;
	width: 100%
	height: 100%
	overflow: hidden
	width: 2000px

.column
	float: left
	background-color: white

.column:nth-child(even)
	background-color: #EEE

.column > ul
	list-style: none
	margin: 0
	padding: 0

.library ul > li
	height: 400px
	width: @height
	margin: 0
	border-bottom: 1px dashed #DDD
