@import 'nib'
@import '_config'

#player
  width: 100%
  height: 100%

.current-track
  position: absolute
  height: 100%
  left: 100px
  padding: 0.6em 0

.title
  font-size: 1.2em

btn-width = 40px
#player .btn-group
  width: 100%

#player .btn-group :first-child
  float: left

#player .btn-group :last-child
  float: right

.play-btns
  width: btn-width * 3 !important
  position: absolute
  right: 100px

.play-btns .btn
  vertical-align: baseline
  width: btn-width !important
  font-size: 2em

#btn-play
  font-size: 3em

.progress
  width: 100%
  height: 5px
  position: absolute
  top: -5px

.progress .back-line
  width: 0
  height: 100%
  background-color: rgba(0,0,0,0.2)
  transition: width 0.2s linear

.progress .progress-line
  width: 0
  height: 100%
  position: absolute
  left: 0
  top: 0

  background-color: accent-color
