@import 'nib'
@import '_config'

margin = 0
queue-panel-width = 450px
audio-control-size = 50px

.queue
  position: absolute
  width: queue-panel-width
  top: 0
  right: -(@width + margin)
  bottom: 0
  background-color: #333
  z-index: 10000
  transition: right 0.3s ease-in-out
  border-color: #555
  border-style: solid
  border-width: 0 1px

  .title
    font-size: 1.2em
    color: white

  .artist
    color: darken(white, 20%)
    padding-top: 0.2em
    font-size: 1em

  .source
    visibility: hidden

  .audio-state:hover div
    display: block

  .wrapper
    height: 100%

  .qorder
    width: 100%

    position: absolute
    left: 0
    top: 1.8em
    font-size: 1em
    color: #CCC
    text-align: center
    background-color: white

.audio-state
  opacity: 0
  position: absolute
  top: 0
  right: 0
  width: audio-control-size
  height: audio-control-size
  top: 50%
  margin-top: - (@height / 2)
  text-align: center
  color: #DDD
  transition: opacity 0.1s linear
  cursor: pointer
  margin-right: 5px

.audio-state:after
  position: absolute
  top: 0
  left: 0
  width: audio-control-size
  height: audio-control-size
  line-height: audio-control-size
  font-size: 3em
  content: "\e00c"
  font-family: 'icomoon'
  speak: none
  font-style: normal
  font-weight: normal
  -webkit-font-smoothing: antialiased

.audio-state:hover
  color: #555

.audio-state > div
  position: absolute
  top: 0
  width: 100%
  line-height: audio-control-size
  text-align: center
  font-size: 3em

.audio-state > div:before
  line-height: audio-control-size

.qorder-separator-wrapper
  position: absolute
  left: 0
  top: 0
  width: 30px
  height: 100%
  padding: 0 5px
  cursor: pointer
  display: none

.qorder-separator-line
  position: absolute
  top: 0
  width: 4px
  height: 100%
  left: 50%
  margin-left: - (@width / 2)
  background-color: #E7E7E7
  transition: background-color 0.1s linear

.queue.active
  right: margin

.queue-item
  position: absolute
  top: 100%
  width: 100%
  font-size: 1em
  transition: top 0.2s ease-out, background-color 0.1s
  z-index: 100

.queue-item:last-child
  z-index: 0

.queue-item:hover
  background-color: #111

  .square
    background-color: #555 !important

  .audio-state
    opacity: 1

  .qorder
    color: #555 !important
    background-color: #F6F6F6

  .qorder-separator-line
    background-color: #555

.queue-item.current
  background-color: accent-color

.queue-item.current:before
  position: absolute
  top: 0
  left: 0
  content: ""
  width: 100%
  height: 100%
  opacity: 0.7
  background: transparent url('../images/bg_overlay_review.png') center top repeat;

.queue-item.active
  background-color: accent-color

.audio-item
  width: 100%
  padding: 1.7em (audio-control-size * 1.3) 1.7em 3em
  transition: right 0.2s ease-in
  -webkit-transform: translateY(0%)

.show-menu
  right: 100px

.queue .drag
  user-select: none
  transition: background-color 0.1s linear
  background-color: accent-color
  color: white
  border-bottom: none

  .qorder-separator-line
    display: none

  .qorder
    display: none
    color: #FFF

  .artist
    color: #FFF

  .square
    background-color: #FFF !important

.queue .dropzone
  background-color: white

.dropzone > *
  visibility: hidden

#queue-list
  height: 100%

@media screen and (max-width: 600px)
  .queue.active
    width: 100%
    right: 0 !important
    left: 0 !important