<div class="audio{{#if queued}} queued {{/if}}"
	data-audio-id="{{ aid }}"
	data-owner-id="{{ owner_id }}">

	<div><span class="title">{{{ title }}}</span></div>
	<div><span class="artist">{{{ performer }}}</span></div>
	<div class="qorder"></div>
	<div class="actions">
		<div class="icon-add-2 add-to-queue"></div>
	</div>
</div>