<div class="group-layout">
	<div id="group-description">
		<div class="group-avatar"><img src="{{ photo }}" alt="{{ name }}"></div>
	</div>
	<div id="wall-layout"></div>
	<div class="wall-overlay-panel">
		<div data-action="first" class="wall-scroll-btn"><div class="icon-arrow-top"></div></div>
		<div data-action="prev" class="wall-scroll-btn"><div class="icon-arrow-left-2"></div></div>
		<div data-action="next" class="wall-scroll-btn"><div class="icon-arrow-right"></div></div>
	</div>
</div>
