<div class="audio-item" data-audio-id="{{ aid }}">
  <div class="qorder"><span>{{ qorder }}</span></div>
  <div class="title"><span>{{ title }}</span></div>
  <div class="artist"><span>{{ artist }}</span></div>
  <div class="drag-place">
    <div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
    </div>
  </div>
</div>