<li class="queue-item {{#if isPlayed}}current {{/if}}">
	<div class="audio-item" data-audio-id="{{ aid }}">
	  <div class="qorder-separator-wrapper drag-place">
	    <div class="qorder-separator-line"></div>
	    <div class="qorder">{{ qorder }}</div>
	  </div>
	  <div class="audio-state">
	    <div class="icon-appbarcontrolplay"></div>
	  </div>
	  <div class="title"><span>{{{ title }}}</span></div>
	  <div class="artist"><span>{{{ artist }}}</span></div>
	</div>
</li>
