<div class="audio-actions">
	<div class="actions">
		<div class="shuffle" data-icon="&#xe002;"></div>
		<div class="queue-all" data-icon="&#xe008"></div>
	</div>
</div>
<div class="tracklist-list"></div>
