<div class="tracklist">
	<div class="audio-actions">
    <div class="actions">
      <div class="shuffle" data-icon="&#xe01d;"></div>
      <div class="queue-all" data-icon="&#xe008"></div>
    </div>
  </div>
</div>