<div
  data-audio-id="{{ aid }}"
  {{#if queued}}
    class="audio-item tracklist-item queued"
  {{else}}
    class="audio-item tracklist-item"
  {{/if}}
  draggable="true">

  <div class="title"><span>{{ title }}</span></div>
  <div class="artist"><span>{{ artist }}</span></div>
  <div class="add-to-queue">
    <div class="icon-add-2"></div>
  </div>
</div>