<div class="tile album-tile" data-album-id="{{ album_id }}">
	<div class="title"><span>{{{ title }}}</span></div>
	<div class="album-audio-count"><span>{{ length }}</span></div>
	<!-- <div class="album-btn-show icon-list"></div> -->
</div>